################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/carnacode-balta-2024-desafio-01/FileContentIndex
/.vs/carnacode-balta-2024-desafio-01/config
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/carnacode-balta-2024-desafio-01/v17/.wsuo
